@use "sass:math";

@import "mixins";

// colors

$minWidth: 320;
$maxWidth: 1920;
$containerWidth: 1270;
$containerPadding: 30;

$pc: $containerWidth + $containerPadding;
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
